<app-header-layout></app-header-layout>

<div class="container">
	<a (click)="location.back()" class="home-btn">&lt; Back</a>
	<div class="header">
		<span class="title">Your Events</span>

		<a (click)="this.authService.signOut()" class="button">Sign Out</a>
	</div>
</div>

<div *ngIf="(postObservable | async)?.length == 0" class="no-events-container">
	You have not posted any events
</div>

<ng-container *ngIf="postObservable">
	<cdk-virtual-scroll-viewport appendOnly itemSize="410" class="post-container">
		<app-post
			*cdkVirtualFor="let post of (postObservable | async)?.slice()?.reverse()"
			[title]="post.title"
			[image]="post.images[0]"
			[rating]="postService.getRating(post)"
			[description]="post.description"
			[attendance]="post.attendanceCount"
			link="/view-event/{{ post.id }}"
			[postID]="post.id"
			[paymentTypes]="post.paymentTypes"
		></app-post>
	</cdk-virtual-scroll-viewport>
</ng-container>