.container {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	padding: 32px;
	z-index: 10;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: var(--blue);
	font-size: 28px;
	font-weight: 650;
}

.home-btn {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 8px;
	color: var(--icon-color);
	cursor: pointer;
}

.home-btn:hover {
	text-decoration: underline;
}

.button {
    color: white;
    background-color: var(--blue);
    padding: 4px 8px;
    margin: 0 8px;
    border-radius: 8px;
		transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

.post-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 64px);
  margin: auto;
}

.no-events-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:rgba(0, 0, 0, 0.6)
}