<app-auth-background></app-auth-background>

<div class="signup-container">
	<a routerLink="/home" class="continue-link">Continue as guest &gt;</a>
	<h1 class="header">MyMotown</h1>

	<form [formGroup]="signUpForm" class="signup-form" (ngSubmit)="signUp()">
		<input type="email" placeholder="Email" formControlName="email">
		<input type="password" placeholder="Password" formControlName="password">
		<input type="password" placeholder="Confirm Password" formControlName="confirmPassword">

		<input type="submit" value="Sign Up">
	</form>

	<a routerLink="/login">Already have an account? Login here</a>
</div>