a {
	text-decoration: none;
	color: #0000007d;
	font-weight: 600;
}

img {
	position: absolute;
	top: 50;
	left: 0;
	width: 12%;
	border-radius: 12px;
}

.text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.button1
{
    color: white;
    background-color: #EAAA00;
    padding: 4px 8px;
    border-radius: 8px;
    right: 12px;
}

.button2
{
    color: white;
    background-color: #EAAA00;
    padding: 4px 8px;
    border-radius: 8px;
    position: absolute;
    right: 12px;
}

a:hover {
	text-decoration: underline;
}

.continue-link {
	align-self: flex-end;
}

.header {
	font-size: 20px;
	font-weight: 600;
	color: var(--blue);
	margin: 16px;
}
 
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 32px;
	border-radius: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 360px;
}

.form input {
	border-radius: 8px;
	border: 1px solid var(--blue);
	box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.25);
	padding: 4px 16px;
	margin: 16px;
	width: 100%
}

.form input[type="submit"] {
	width: auto;
	background-color: var(--blue);
	color: #fff;
	padding: 8px 32px;
	cursor: pointer;
}